@font-face {
    font-family: "Suisse BP Int'l";
    src: url(./SuisseIntl-Bold.ttf);
}

@font-face {
    font-family: "Suisse Int'l";
    src: url(./SuisseIntl-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    padding: 20px;
}

main{
    font-family: "Suisse BP Int'l", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1.2fr;
    gap: 20px;
    grid-template-areas: 
    "boy download palatte strength"
    "boy logo logo strength"
    "redefine logo logo signup"
    "train train girl signup"
    ;
}

.box{
    border-radius: 30px;
    /* border: 1px solid white; */
}

#boy{
    grid-area: boy;
    background: url("https://im.whatshot.in/img/2022/Nov/istock-901960792-61b7146334820-1667548399.jpeg");
    background-size: cover;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cross{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    padding: 20px
}

#cross svg{
    height: 100%;
    width: 100%;
}

#container{
    display: flex;
    justify-content: space-around;
}

.black-box-transparent{
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 90px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#boy .icon{
    height: 50px;
    width: 50px;
    background-color: #FED702;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boy .icon i{
    font-size: 30px;
}

.boxy-text{
    font-family: "Suisse Int'l", sans-serif;
    color: white;
    letter-spacing: 1px;
}

.boxy-text h1{
    font-size: 26px;
}

.boxy-text p{
    font-size: 16px;
}

#download{
    grid-area: download;
    background-color: #FED702;
    padding: 30px;
    font-family: 'suisse int\'l', sans-serif;
    position: relative;
    overflow: hidden;

}
#download svg{
    position:absolute;
    scale: 4.0;
    transform: translate(80%, 50%);
}

#download #design{
    height: 35%;
    display: flex;
    align-items: center;
    gap:10px;
    position: relative;
}

#download #design div:nth-child(1){
    height:20%;
    width:3px;
    background-color: black;
    border-radius: 1.5px;
}
#download #design div:nth-child(2){
    height:25%;
    width:4px;
    background-color: black;
    border-radius: 2px;
}
#download #design div:nth-child(3){
    height:32%;
    width:5px;
    background-color: black;
    border-radius: 2.5px;
}
#download #design div:nth-child(4){
    height:40%;
    width:6px;
    background-color: black;
    border-radius: 3px;
}
#download #design div:nth-child(5){
    height:49%;
    width:7px;
    background-color: black;
    border-radius: 4.5px;
}
#download #design div:nth-child(6){
    height:59%;
    width:8px;
    background-color: black;
    border-radius: 4px;
}
#download #design div:nth-child(7){
    height:70%;
    width:9px;
    background-color: black;
    border-radius: 4.5px;
}

#download .text{
    height:35%;
    font-size: 35px;
    padding-right: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-right: 30%;
}

#download .downloads{
    height:30%;
    display: flex;
    gap: 20px;
    position: relative;
}

.playstore, .appstore{
    height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#download .icon{
    font-size: 50px;
    margin-right: 10px;
}

#download .big-text{
    font-size: 26px;
    letter-spacing: 1px;
}

.small-text{
    font-size: 12px;
    letter-spacing: 1px;
}


#palatte{
    padding: 60px 40px 40px 40px;
    grid-area: palatte;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#palatte p{
    font-family: "Suisse Int'l", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

#palatte h1{
    font-size: 60px;
}

#body-fonts{
    font-family: "Suisse Int'l", sans-serif;
}

#color-palette{
    height: 30px;
    display: flex;
    gap: -10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.color{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
}

#pink{
    background-color: #CD806F;
}

#yellow{
    background-color: #FED702;
    transform: translate(25%);
}

#white{
    background-color: #FEFEFE;
    transform: translate(50%);
}

#black{
    background-color: #000000;
    transform: translate(75%);
}

#strength{
    grid-area: strength;
    background-color: #FEFEFE;
    padding: 50px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#strength #top-strength .text, #location-container p{
    font-size: 20px;
    letter-spacing: 1px;
}

#top-strength{
    display: flex;
    align-items: center;
}

#small-black-box{
    background-color: black;
    width: 17px;
    height: 25px;
}
    
#small-yellow-box{
    background-color: #FED702;
    width: 17px;
    height: 25px;
    margin-left: 3px;
    margin-right: 20px;
}

#middle-strength{
    font-size: 40px;
}

#bottom-strength{
    font-family: "Suisse Int'l", sans-serif;
    height: 36%;
    background-color: #EBB0A2;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
}

#bottom-strength .bg-logo-container{
    position: absolute;
}

#bottom-strength .bg-logo-container svg{
    scale: 3.0;
    transform: translate(100%, 40%);
}

#location-container{
    display: flex;
    align-items: center;
    gap: 30px;
}

#location{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#bottom-strength i{
    font-size: 30px;
    color: #FED702
}

#location-container, #website{
    position: relative;
    z-index: 3;
}

#logo{
    grid-area: logo;
    background-color: #FDF8E3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo p{
    font-size: 170px;
}

#logo svg{
    scale: 2.0;
    margin-right: 50px;
}

#signup{
    grid-area: signup;
    background-color: #EBB0A2;
    padding: 20px 20px 0px 20px;
}

#loading{
    display: flex;
    height: 20px;
    width: 100%;
    /* border: 2px solid black; */
    height:5%;
}

#loading #bar-R{
    height: 4px;
    background:  linear-gradient(90deg, black, black, #A88175);
    width: 25%;
    border-radius: 2px;
}

#loading #bar-L{
    height: 4px;
    background: linear-gradient(90deg, #B98C7B, #EBB0A2);
    width: 75%;
    border-radius: 2px;
}

#top{
    display: flex;
    gap: 20px;
    align-items: center;
    height:10%;
}

#top .bg-logo-container{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#top .bg-logo-container svg{
    height: 70%;
    width: 70%;
}

#bar{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#bar p{
    font-family: 'Suisse Int\'l', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

#bottom{
    height: 85%;
    background: url(./iphone\ guy.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr 1fr;
    grid-template-areas: 
    "blank blank"
    "potential search"
    "button blank2";
    padding: 0 15%;
}

#potential{
    grid-area: potential;
    color: white;
}

#potential h1{
    font-size: 35px;
}

#button{
    grid-area: button;
    height: 80%;
    width:80%;
    background-color: #FED702;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    grid-area: search;
}

#search svg{
    color: white;
}

#redefine{
    grid-area: redefine;
    background-color: #FEFEFE;
    padding: 5% 10%
}

#redefine h1{
    font-size: 35px;
}

#bottom-redefine{
    display:flex;
    gap: 15px;
    font-family: 'Suisse Int\'l', sans-serif;
    letter-spacing: 1px;
    margin-top: 30px;
}

#bottom-redefine .bg-logo-container{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#bottom-redefine .bg-logo-container svg{
    height: 70%;
    width: 70%;
}

#train{
    grid-area: train;
    padding: 20px;
    background-color: #EBB0A2;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "image text text"
    "image count people"
    ;
}

#train #image{
    grid-area: image;
    overflow: hidden;
    background-color: black;
}

#train #image img{
    width: 100%;
    height: 100%;
    transform: translate(-10%, 0);
}

#train #text{
    padding-left: 30px;
    font-size: 22px;
    grid-area: text;
}

#train #count{
    padding-left: 30px;
    grid-area: count;
}

#train #count h1{
    font-size: 90px;
    text-align: center;
}

#train #count p{
    font-family: 'Suisse Int\'l', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

#train #people{
    grid-area: people;
    display: flex;
    align-items: center;
    position: relative;
}

.person{
    height: 70%;
    width: 30%;
    border-radius: 50%;
    border: 2px solid #EBB0A2;
    overflow: hidden;
    position: absolute
}

#person-2{
    transform: translate(85%, 0);
}

#person-3{
    transform: translate(170%, 0);
}

.person img{
    width: 100%;
}

#girl{
    grid-area: girl;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #C8B8B5;
}

#girl .bg-logo-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#girl svg{
    scale: 4.5;
    transform: translate(0, 45%);
}

#girl img{
    height: 105%;
    position: absolute;
    transform: translate(0, -4.6%);
}

